.container {
  max-width: 100%;
  margin: auto;
  background-color: antiquewhite;
  padding: 8px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.item {
  margin: 0px 16px;
}
